body {
  margin: 0;
  font-family: Poppins;
  background-color: #233;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Select {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 150pt;
  color: black;
}

.Select__menu {
  font-size: 15pt;
}

.DeltaInput {
  height: 38pt;
  font-size: 23pt;
  width: 80pt;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 3pt;
  border: none;
}

.DeltaInput:focus {
  outline: 2pt solid black;
}

.Answer {
  margin-top: 20pt;
  font-size: 50pt;
}

#DisclaimerBar {
  width: calc(100% - 10px);
  text-align: center;
  background-color: white;
  min-height: 23pt;
  position: absolute;
  bottom: 0px;
  color: black;
  font-size: 12pt;
  padding: 5px;
}

#DisclaimerBar a {
  color: black;
  font-weight: bold;
}

#message_out {
  width: 640px;
  font-size: 20pt;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  background-color: #3a4949;
  padding: 8px;
  padding-right: 15px;
  border-radius: 10px;
  border: none;
}

#message_out ul {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}