body {
  margin: 0;
  font-family: Poppins;
  background-color: #233;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Select {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 150pt;
  color: black;
}

.Select__control {
  height: 50pt;
  width: 200pt;
  font-size: 20pt;
}

.Select__menu {
  font-size: 15pt;
}

.DeltaInput {
  height: 50pt;
  font-size: 22pt;
  width: 80pt;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 3pt;
  border: none;
}

.DeltaInput:focus {
  outline: 2pt solid black;
}

#DisclaimerBar {
  width: calc(100% - 10px);
  text-align: center;
  background-color: white;
  min-height: 23pt;
  position: fixed;
  bottom: 0px;
  color: black;
  font-size: 12pt;
  padding: 5px;
}

#DisclaimerBar a {
  color: black;
  font-weight: bold;
}

#message_out {
  margin-top: 20pt;
  font-size: 50pt;
  width: 710px;
  height: 460px;
  font-size: 20pt;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a4949;
  padding: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border: none;
}

#message_out ul {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#message_out ul li {
  margin-bottom: -10px;
}

#bibtex_popup {
  background-color: #ccc;
  border-radius: 10px;
  border: none;
  padding: 2px 0 2px 10px;
}

#bibtex_button {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.question_circle {
  height: 22pt;
  position: relative;
  top: 3pt;
  left: 10px;
  cursor: pointer;
}

#accuracy_popup {
  width: 370px;
  background-color: #ccc;
  border-radius: 10px;
  border: none;
  padding: 2px 10px 2px 10px;
}

.number_sector {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 20px;
}

.label_sector {
  font-size: 0.9em;
}

.accuracy_sector {
  margin-right: 10px;
}

.metric_sector {
  margin-left: 15px;
}

ul {
  list-style-type: none;
}